{{> navbar}}
<br/>

<h1>Formulario de carga</h1>
    <form method="post" action="/form" id="form">
        <input type="text" name="title"/>
        <input type="text" name="price"/>
        <input type="text" name="thumbnail"/>
        <input type="submit" value="Cargar"/>
    </form>
<br/>
<br/>
<br/>

<a href="http://localhost:8080/products" class="btn">Volver a la lista de productos</a>
<br/>
<br/>
<br/>
{{> footer}}
<br/>